header, footer{
    background-color: bisque;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size:xx-large;
    text-align: center;
}

.container{
    padding-top: 2rem;
    font-size: large;
    text-align: justify;
}

section{
    background-color: beige;
}

.col-12.colum3{
    color:gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}