<app-navbar-menu></app-navbar-menu>
<h1 align="center">Inventario</h1>
<html>
  <head>
    <title>Gestion de inventarios</title>
    <style type="text/css"></style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-md-center">
        <div id="header" class="col-md-auto">
          <ul class="nav">
            <li>
              <a [routerLink]="['/gestionarInv', 'inventario']"
                >Actualizar Inventario</a>
            </li>
            <li>
              <a href="">Servicios</a>
              <ul>
                <li><a href="">Eliminar producto</a></li>
                <li>
                  <a href=""
                    >Actualizar la cantidad de productos en caso de llegar
                    nuevas exitensias</a
                  >
                </li>
                <li><a href="">Seleccionar equipo de trabajo</a></li>
                <li><a href="">Herramientas stock a utilizar</a></li>
              </ul>
            </li>
            <li><a href="">Contacto</a></li>
          </ul>
        </div>

        <div class="col-md-auto">
          <img src="assets/logo.png" width="50%" />
        </div>
      </div>
    </div>
  </body>
</html>
