*{
    text-align: center;
    font-size:medium;
}


button{
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

img{
    margin-left: 2rem;
}

ul{
    list-style-type: none;
    margin-bottom: 0ch;
}