.titulo img{
    width: 18%;
    margin-left: 3%;
    margin-top: 3%;
}

h4 {
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
  color: rgb(136, 183, 221);
}

.container{
    text-align: center;
}

.row{
    margin-top: 4em;
}

.bt1, .bt2, .bt3, .bt4{
    padding: 10px 20px;
    background-color: rgb(136, 183, 221);
    border-radius: 10px;
    color: white;
    font-family: cursive;
    font-size:x-large;
    text-decoration: none;
}

.btvolver {
  padding: 0.5em;
  text-align: right;
  background-color: rgb(199, 212, 212);
  color: black;
  border-radius: 10px;
  font-family: cursive;
  font-size: 2em;
  text-decoration: none;
}