<app-navbar-menu></app-navbar-menu>

    <h1 class="register-title">Formulario de Registro</h1>
  
<form action="" class="register" [formGroup]="datosformulario">
  <div class="register-switch">
    <input
      type="radio"
      formControlName="sexo_usuario"
      name="sex"
      value="F"
      id="sex_f"
      class="register-switch-input"
      checked
    />
    <label for="sex_f" class="register-switch-label">Femenino</label>

    <input
      type="radio"
      formControlName="sexo_usuario"
      name="sex"
      value="M"
      id="sex_m"
      class="register-switch-input"
    />
    <label for="sex_m" class="register-switch-label">Masculino</label>
  </div>

  <input
    type="text"
    formControlName="nombre_usuario"
    class="register-input"
    placeholder="Nombre"
    required
  />

  <input
    type="email"
    formControlName="correo_usuario"
    class="register-input"
    placeholder="Email"
    required
  />

  <input
    type="text"
    formControlName="user_name"
    class="register-input"
    placeholder="Username"
    required
  />

  <input
    type="password"
    formControlName="password"
    class="register-input"
    placeholder="Password"
    required
  />

  <button (click)="altausuario()" class="register-button">Registrar</button>
  <br>
  <a class="btn btn-primary form-control" routerLink='/menuUsuario'>Cancelar</a>
</form>
