<app-navbar-menu></app-navbar-menu>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-6 my-5">
        <div class="my-5">
          <form>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Contraseña"
              />
              <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="rememberPasswordCheck"
              />
              <label class="form-check-label" for="rememberPasswordCheck">
                Recordar contraseña
              </label>
            </div>
            <div class="d-grid">
              <button
                routerLink="/menuUsuario"
                class="btn btn-primary btn-login text-uppercase fw-bold"
                type="submit"
              >
                iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-9 col-md-7 col-lg-6 my-5">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <figure>
              <img src="assets/logo.png" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
