*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn-mas{
    display: none;
}
.container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .icon-mas2{
    display: block;
    text-decoration: none;
    background: rgb(89, 173, 241);
    color: black;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px
    rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;

}
.redes a:hover{
    background: salmon;
    color: snow;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
/*.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;/*
