<body>
    <img class="logo" src="assets/logo.png" alt="Logotipo Saint"/>
    <hr>
    <br>
    <br>
    <h1>FICHAS TÉCNICAS</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="bt1" [routerLink]="['registrar']">Registrar ficha</a>
    <a class="bt2" [routerLink]="['actualizar']">Actualizar ficha</a>
    <a class="bt3" [routerLink]="['eliminar']">Eliminar ficha</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="bt4" [routerLink]="['filtrar']">Listar ficha</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="btvolver" [routerLink]="['']">Volver</a> <!--Aqui poner [routerLink] de menu principal-->
    



</body>

