<body>
    <header>
        <div class="titulo" translate="no">
            <img src="assets/logo.png" />
            <h4>Super Usuario</h4>
            <hr />
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary form-control" routerLink='/registrarUs'>Registrar Usuario</a>
                <a class="btn btn-primary form-control mt-2" routerLink='/GestionarFichas'>Gestión fichas</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary form-control" routerLink='/gestionInv'>Gestión inventarios</a>
                <a class="btn btn-primary form-control mt-2" routerLink='verificar'>Gestión permisos</a>
            </div>
            <!--
             <div class="col-md-4"> 
                 <a class="btn btn-primary form-control" routerLink='/GestionarUsuario'>Gestión usuario</a>
                
                <a class="btn btn-primary form-control mt-2" routerLink='/GestionarConexiones'>Ver ultimas conexiones</a>
            </div>
            -->
        </div>
    </div>
</body>