header img{
    margin-top: 3%;
    margin-left: 3%;
    width: 18%;
}
header h1{
    display:inline-block;
    margin-left: 27%;
    margin-bottom: 30px;
    font-size: 3.8vmax;
    text-align: center;     
    color: white;
}
header hr{
    margin-bottom: 50px;
}
aside select{
    margin: 0 1% 0 3.5%;
    float: right;
    width: 10%;
    height: 100px;    
    border-radius: 5px;
}
aside input{
    float: right;   
    margin-right: 12%;
    border-radius: 10px;
}

.navegacion input{
    margin-top: 2%;
    background-color: rgba(123, 104, 238, .5);
    color:white;
    padding: 15px 25px;
    margin-left: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block; /*Para que no se encimen los elementos */
}
.navegacion input:hover, a:active{
    cursor: pointer;
    background-color: #6A5ACD;
}
.centrar{
   margin-left:25.5%;
   width: 12%;
   height: 7%;
   background: rgb(4, 61, 119);
   color: rgb(255, 255, 255);
   border-radius: 5px;
   font-size:0.9vmax;
}