<body>
    <header>
        <div class = "titulo">
             <img src = 'assets/logo.png
             '/>
             <h1>Conceder permisos</h1>
             <hr/>
        </div>
    </header>
    <aside>
        <input type = "search" placeholder = "buscar">
        <select multiple = "true">
            <option>
                Usuarios
            </option>
        </select>
    </aside>
    <section class = "centrar">
        <input type ="checkbox" id = "EliminarFicha" name = "EliminarFicha">
        <label for ="EliminarFicha">Permitir Eliminar Ficha</label><br/>
        <input type = "checkbox" id = "AgregarFicha" name = "AgregarFicha">
        <label>Permitir Agregar Ficha</label><br/>
        <input type = "checkbox" id = "ActulizarFicha" name = "ActualizarFicha">
        <label for = "ActualizarFicha">Permitir Actulizar Ficha</label>
    </section>
    <div class = "navegacion">
        <input type = "submit" value = "Rechazar" name = "Cancelar"> 
        <input type = "submit" value = "Aceptar" name = "Aceptar" style = "margin-left: 50px;">
    </div>
</body>